<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Logging -->
  
  <servlet>
    <servlet-name>remoteLogging</servlet-name>
<!-- <servlet-class>com.dve.server.MyRemoteLogginService</servlet-class> -->
	<servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>remoteLogging</servlet-name>
    <url-pattern>/canvasmap/remote_logging</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>log4j-init</servlet-name>
    <servlet-class>com.dve.server.Log4jInit</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- Login -->
  
  <servlet>
    <servlet-name>LoginServiceImpl</servlet-name>
    <servlet-class>com.dve.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServiceImpl</servlet-name>
    <url-pattern>/canvasmap/li</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServiceImpl_PG</servlet-name>
    <servlet-class>com.dve.server.LoginServiceImpl_PG</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServiceImpl_PG</servlet-name>
    <url-pattern>/canvasmap/pgli</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>com.dve.server.login.LoginService</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <!-- MyService -->
  
  <servlet>
    <servlet-name>myServiceImpl</servlet-name>
    <servlet-class>com.dve.server.MyServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>myServiceImpl</servlet-name>
    <url-pattern>/canvasmap/db</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>myServiceImpl_PG</servlet-name>
    <servlet-class>com.dve.server.MyServiceImpl_PG</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>myServiceImpl_PG</servlet-name>
    <url-pattern>/canvasmap/pgdb</url-pattern>
  </servlet-mapping>
  
  <!-- Equipment Mappings -->
  
  <servlet>
    <servlet-name>equipImpl</servlet-name>
    <servlet-class>com.dve.server.EquipServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>equipImpl</servlet-name>
    <url-pattern>/equip</url-pattern>
  </servlet-mapping>
  
  <!-- Issues List Mappings -->
  
  <servlet>
    <servlet-name>issuesService</servlet-name>
    <servlet-class>com.dve.server.IssueServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>issuesService</servlet-name>
    <url-pattern>/issue</url-pattern>
  </servlet-mapping>
  
   <!-- Building Mappings -->
   
   <servlet>
    <servlet-name>buildService</servlet-name>
    <servlet-class>com.dve.server.BuildServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>buildService</servlet-name>
    <url-pattern>/build</url-pattern>
  </servlet-mapping>
  
  <!-- Upload -->
  
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.dve.server.UploadImageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>*.gupld</url-pattern>
  </servlet-mapping>
  
  <!-- PDF -->
  
  <servlet>
    <servlet-name>servePDF</servlet-name>
    <servlet-class>com.dve.server.ServePDF</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>servePDF</servlet-name>
    <url-pattern>/viewPdf</url-pattern>
  </servlet-mapping>
  
   <!-- Excel -->
  
  <servlet>
    <servlet-name>serveExcel</servlet-name>
    <servlet-class>com.dve.server.ServeExcel</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>serveExcel</servlet-name>
    <url-pattern>/viewExcel</url-pattern>
  </servlet-mapping>
  
  <!-- Image -->
  
  <servlet>
    <servlet-name>getImageService</servlet-name>
    <servlet-class>com.dve.server.image.GetImageService</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>getImageService</servlet-name>
    <url-pattern>/getImage</url-pattern>
  </servlet-mapping>
  
  <!-- Dev Props -->
  
  <servlet>
    <servlet-name>devprops</servlet-name>
    <servlet-class>com.dve.server.login.Devprops</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>devprops</servlet-name>
    <url-pattern>/devprops</url-pattern>
  </servlet-mapping>
  
  <listener>
  	<listener-class>
     net.sourceforge.wurfl.core.web.WURFLServletContextListener
  	</listener-class>
  </listener>
  
  <!-- Context Params -->

  <context-param>
  	<param-name>wurfl</param-name>
  	<param-value>/WEB-INF/wurfl-2.2.zip</param-value>
  </context-param>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>FormsUI_v2.html</welcome-file>
  </welcome-file-list>
  
  <mime-mapping>
    <extension>manifest</extension>
    <mime-type>text/cache-manifest</mime-type>
  </mime-mapping>
  
   <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/vnd.ms-excel</mime-type>
  </mime-mapping>
  
   <mime-mapping>
    <extension>gif</extension>
    <mime-type>image/gif</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>jpeg</extension>
    <mime-type>image/jpg</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>jpg</extension>
    <mime-type>image/jpg</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>png</extension>
    <mime-type>image/png</mime-type>
  </mime-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  

</web-app>
